</br>
</br>

<div>
  <h1 style='text-align:center'>Walktopus V3</h1>
</div>

<div id="walk_form">
  <h2 style='text-align:center'>Preview a New Walk</h2>
  <%= form_for @walk do  |f|  %>
    <%=f.label :start %> <br>
    <%= f.text_field :start, :placeholder =>"Starting from?" %>
    <br>
    <%= f.label :end %> <br>
    <%=f.text_field :end, :placeholder => "Ending where?" %>
    <br>
    <%= f.submit  "Show Preview" %>
  <% end %>
</div>

