<!DOCTYPE html>
<html>
<head>
   <link href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css' rel='stylesheet'>
  <title>Walktopus Mobile</title>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src ='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js'></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Walktopus Mobile</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li id='returnToHome'><%=link_to "Preview a New Walk", new_walk_path, method: "get" %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
<%= yield %>

</body>
</html>
